<%- include('../parts/head', {bot, user, path}) %>

<title>Disbots | Discord Bots</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
<div class="bg-vote-disbots pt-5">
<h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Promotion Packages
</h3>
</center>
<p class="text-muted">
<strong>Package 1</strong>
<span class="badge badge-danger">5$ - (lifetime)</span>
<br>Your bot will be on Promoted Bots Page.
<br><strong>Package 2 </strong><span class="badge badge-danger">10$ - (lifetime)</span>
<br>Your bot will be on Promoted Bots Page.
<br>Your server will be on Premium Servers Page.
<br>Will be added on Partners Page.
</p>
<br>
<center>
<h5 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Promotion Benefits
</h5>
</center>
<p class="text-muted">
<br>For bots
<br>A special role on our Discord server to let people know that it's Promoted.
<br>A special badge( <span data-tooltip="Promoted Bot" data-tooltip-location="top">
<i class="fad fa-stars has-text-warning" style="font-size: 20px;"></i>
</span>) on your bot card to let people know that it's Promoted.
<br><br>For Promoted users
<br>A special role on our Discord server to let people know that you have Promoted.
<br>A special badge( <span data-tooltip="Promoted Developer" data-tooltip-location="top">
<i class="fad fa-stars has-text-warning" style="font-size: 20px;"></i></span>) on your profile to let people know that you have Promoted.
<br>A special role on our Discord server to let people know that you have Premium.
<br>A special badge( <span data-tooltip="Premium Server Owner" data-tooltip-location="top">
<i class="fad fa-bahai has-text-success" style="font-size: 20px;"></i></span>) on your profile to let people know that you have Premium.
</p>
<br>
</div>
</div>
</div>
    <center>
    <button onclick="location.href='/dc'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Contact The Owner to pay</button>
    </center>
</div>

<%- include('../parts/foot') %>
