<%- include('../parts/head', {bot, user, path}) %>

<title>Disbots | Discord Bots</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
<div class="bg-vote-disbots pt-5">
<h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Disbots Coins
</h3>
</center>
<p class="text-muted">
<strong>How to get Disbots Coins?</strong>
<br>You can get Disbots Coins by been active in our server.
<br><strong>What is the use of Disbots Coins?</strong>
<br>You can promote/boost your boost using Disbots Coins.
<br>You can also promote your server to Premium Server Section!
</p>
<br>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Rewards
</h3>
</center>
<p class="text-muted">
<strong>50 Coins <span data-tooltip="Disbots Coins" data-tooltip-location="top">
<i class="fad fa-coin has-text-warning" style="font-size: 20px;"></i>
</span></strong>
<br>You can You can boost/promote your bot for 1 hour.
<br><strong>100 Coins <span data-tooltip="Disbots Coins" data-tooltip-location="top">
<i class="fad fa-coins has-text-warning" style="font-size: 20px;"></i>
</span></strong>
<br>You can You can boost/promote your server/bot for 1 day.
<br><strong>500 Coins <span data-tooltip="Disbots Coins" data-tooltip-location="top">
<i class="fad fa-coins has-text-warning" style="font-size: 20px;"></i>
</span></strong>
<br>You can You can boost/promote your server/bot for 1 week.
</p>
<br>
</div>
</div>
</div>
    <center>
    <button onclick="location.href='/user/<%= user.id%>'" class="btn btn-back"><i class="fad fa-coin"></i>&nbsp;My Coins</button>
    </center>
</div>

<%- include('../parts/foot') %>