<%- include('../../parts/head', {bot, user, path}) %>
     <br><br>
<div class="container">
  <br><br>
<div class="container contact-form bg-vote-disbots">
  <div class="contact-image">
      <i></i>
  </div>
  <form method="post" class="form-discorddark">
      <h3></h3>
     <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label><i class="fad fa-database"></i> Are you sure want to report the bot?
		<br></label>
                <br>
                <select name="confirm" id="confirm" required>
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                </select>    
              </div>
              <br>
              <div class="form-group">
                  <label>Reason :</label>
                  <textarea type="text" id="reason" name="reason" style="width: 100%;"></textarea>
            </div>
          </div>
      </div>
      <br><br><br><br>
      <button type="submit" name="btnSubmit" class="btn btn-primary"><i class="fad fa-save"></i> Submit</button>
  </form>
</div>
</div>
<br><br>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Succesfull...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy disbots.xyz - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/bot/${urlParams.get('botID')}`;
  }
})
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy disbots.xyz - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/${urlParams.get('botID')}/report`;
  }    
})
    }
   </script>
<%- include('../../parts/foot') %>
